header{
    padding: 50px; 
}
  
nav{

    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 100px;
    font-size: 30px;
    text-transform: capitalize;


}
.span {
    color:rgba(249, 72, 178, 1);
}
.logo img {
    width: 50px;
 
}
.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu li {
    margin-right: 15px;
    list-style: none;
}
.menu a {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    color: #1c1818;

}
/* -------------------section 1 star---------------*/
.section1 {
    width: 90%;
    margin: 0 auto;
    background-image: url("../images/backgroundimg.png");
   background-size: 50%;
   background-position: left;
   background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1text ,.section1img {
    width: 50%;

}
   /*------text part-------*/
.section1text{
    margin-left:150px ;
    margin-bottom: 50px;
   
}
.section1text .section1p {
        font-size: 24px;
        color: #0B0223;
        text-transform: capitalize;
}
.section1text .section1heading{
    font-size: 3rem;
    margin-top: -10px;
    margin-bottom: -10px;
    color:rgba(249, 72, 178, 1);
    text-transform: uppercase;
}
.section1text .title {
    font-size: 19px;
    text-transform: capitalize;
} 
   /*------input part -------*/
.section1input2 {
      width: 110px;
    height: 40px;
    border-radius: 15px;
    font-size: 1rem;
    padding: 5px;
    margin-left: 10px;
    text-transform: capitalize;
    background-color:rgba(249, 72, 178, 1); ;

}
.section1input1 {
    width: 110px;
    height: 40px;
    border-radius: 15px;
    background-color:#4EC5F7;
    font-size: 1rem;
    padding: 5px;
    margin-left: 10px;
    text-transform: capitalize;
} 
   /*------img part -------*/
.section1img {
    padding-right: 90px;
}
.section1img  img{
    width: 100%;
    height: auto;}
       /*---------------section 1 end -----------*/

         /*---------------section 2  start -----------*/

        .section2 {
        width: 90%;
        margin: 0 auto;
         display: flex;
         margin-top: 50px;
        justify-content: space-between;
        align-items: center;
        }
        .section2img  {
            width: 60%;
        }
        .section2text {
           width: 40% ;
            text-align-last: right;
            margin-right: 30px;
        }
        .section1heading {
            font-size: 30px;
            text-transform: capitalize;
             color:rgba(249, 72, 178, 1);
        }
        .section2p {
            font-size: 15px;
            color: #484545;
            text-align-last: right;
        }

        .section2-h4 {
            font-size: 22px;
            margin-top: -10px;
            text-transform: capitalize;
        }
        .section2p2 {
            font-size: 20px;
        }
        .section2img img {
            width: 100%;
            height: auto;
        }

 /*---------------section 2  end -----------*/


 /*---------------section 3 start -----------*/

.section3 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}
.section3-h1 {
    font-size: 25px;
    text-transform: capitalize;
    align-items: center;
    text-align: center;

}
.section3-p {
    font-size: 18px;
    text-align: center;
    align-items: center;
    color: #484545;
}
.item {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 40px;
}
.item div {
    width: 180px;
    height: 300px;
     background-color: aliceblue;
    border:1px solid aliceblue;
    border-radius:5px ;
}
.item div:hover{
   background-color:aliceblue;
    border: 9px solid none;
}
.item div img {
    width: 180px;
    height: 210px;
}
.item div img:hover {
   
    border: 4px solid rgb(253, 5, 129);
    border-radius: 5px;
      background-color: rgba(249, 72, 178, 1); ;
}


 /*---------------section 3  end-----------*/

 
 /*---------------section 4---  start-----------*/

.section4{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    color: white;
   margin-bottom: 50px;
    background-color:rgb(242, 5, 143) ;
  
}
.textsection4, .imgsection4{
    width: 50%;
}
.textsection4 {
    margin-top: 70px;
    margin-left: 100px;
}
.headingsection4 {
    font-size: 40px;
    text-transform: capitalize;

}
.heading2 {
    font-size: 17px;
   text-transform: capitalize;
}
.skills{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.skill1,  .skill2 {
    width: 50%;
}
 .skill2 {
    font-size: 18px;
    text-align-last: right;
 }
 input {
    width: 170px;
    height: 40px;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 14px;
    color: rgb(242, 5, 143) ;
    ;
 }
/* section 4 imgsection4*/
.imgsection4 img{
    width: 100%;
    height: auto;
    margin-right: 30px;
}


    /*---------------section 4---  end-----------*/

    /*---------------section footer---------*/

    footer {
        width: 100%;
        height: 300px;
        color: aliceblue;
        background-color: #0B0223;
    }
     footer .logopart {
        font-size: 30px;
        text-transform: capitalize;
        text-align: center;
       padding-top: 50px;
       margin-bottom: 30px;
        
        
     }
     .services {
        width: 60%;
        text-align: center;
        margin: 0 auto;
       
      
     }
  .services ul {
    display: flex;
    margin-top: 30px;
    justify-content:space-around;
    margin-right: 50px;
  }   
  .services div{
    display: flex;
    
  }


.services ul ol{
    font-size: 16px;
}
.terms-setting ul  {
    width: 40%; 
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.terms-setting ul ol {
    font-size: 13px;
    font-weight: bold;
}
.email {
   align-items: center;
   text-align: center;
   margin-top: 40px;
   font-size: 13px;
}
.footer-logo {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



























































    /*------media -------*/
    @media screen  and (max-width:576px){
        
        .section1 ,nav ,.section4 ,.skills  ,  .services ul 
        ,.terms-setting ul 
        
        {
            flex-direction: column;
        }
        .services {
            width: 100%;
        }
        .section2 {
            flex-direction: column-reverse;
        }

        /*------navber start----*/
        .logo {
        
          align-items: center;
          margin-right: 170px;
           margin-top: 50px;
        }
      
        nav ul {
            margin-left: -110px;
        }
        header {
            width: 100%;
            height: auto;
            padding: 0;
            margin-left: 20px;
            margin-bottom: 50px;
        }
     /*------navber end ----*/   
     
         /*------ section 1 start ----*/ 
        .section1 {
            width: 100%;
            margin-bottom: 50px;
            margin-left: 20px;}
           

        .section1text {
            margin-left: 20px;
            width: 100%;
           
        }
        .section1img {
            width: 90%;
            margin: 0 auto;
            margin-left: 10px;
            
        }
        /*------ section 1 end ----*/ 

        /*----------section  2 start ------*/
        .section2 {
            width: 100%;
            margin-left: 20px;

        }
        .section2img  ,   .section2text {
            width: 100%;
            margin-left: 20px;
            
        }
        .section2img {
           margin-right: 50px;
        }
        .section2text ,  .section2p{
            text-align-last: left;
        }

          /*----------section  2 end ------*/

          /*----------section  3  start ------*/
          .section3 {
            width: 100%;
            margin-left: 20px;
          }
          .item {
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
          
          
          }
          .item div {
            margin-top: 20px;
          }

 /*----------section  3 end ------*/
  /*----------section  4 start------*/
  .section4 {
    width: 100%;
    height: auto;
    margin-left: 20px;
  }
  .textsection4, .imgsection4{
    width: 100%;
  }
  .textsection4{
    margin-left: 10px;
  }
  .skill1,  .skill2 {
    width: 100%;
  }
  .skill1 {
    margin-left: 30px;
  }
  .skill2 {
    text-align-last: left;
    margin-left: 30px;
    
  }
  .textsection4 div {
    width: 95%;
  }
  .imgsection4 img{
    margin-left: 35px;
  }

   /*----------section  4 end ------*/
   /*----------section  footer  ------*/
   footer {
    width: 100%;
    margin: 20px;
    height: auto;
   }
   footer .logopart  {
    p
   }
  
    }