header{
    padding: 50px; 
}
  
nav{

    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin-left: 100px;
    font-size: 30px;
    text-transform: capitalize;


}
.span {
    color:rgba(249, 72, 178, 1);
}
.logo img {
    width: 50px;
 
}

nav .menu  ul{
    display: flex;
    justify-content: space-around;
}
nav .menu .face{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    width: auto;
    padding: 5px;
    border-radius: 6px;
    height: 25px;
}
nav .menu ul li {
    list-style: none;
    padding:5px;
}
nav .menu ul li{
    font-size: 14px;
    text-transform: capitalize;
}
.menu{
    display: flex;
}
.menu ul li img {
    margin-top: -7px;
    align-items: center;
    justify-content: center;
}



/*------------------section 1 star---------------*/
.section1 {
    width: 90%;
    margin: 0 auto;
    background-image: url("../images/backgroundimg.png");
   background-size: 50%;
   background-position: left;
   background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1text ,.section1img {
    width: 50%;

}
   /*------text part-------*/
.section1text{
    margin-left:150px ;
    margin-bottom: 50px;
   
}
.section1text .section1p {
        font-size: 24px;
        color: #0B0223;
        text-transform: capitalize;
}
.section1text .section1heading{
    font-size: 3rem;
    margin-top: -10px;
    margin-bottom: -10px;
    color:rgba(249, 72, 178, 1);
    text-transform: uppercase;
}
.section1text .title {
    font-size: 19px;
    text-transform: capitalize;
} 
   /*------input part -------*/
.section1input2 {
      width: 110px;
    height: 40px;
    border-radius: 15px;
    font-size: 1rem;
    padding: 5px;
    margin-left: 10px;
    text-transform: capitalize;
    background-color:rgba(249, 72, 178, 1); ;

}
.section1input1 {
    width: 110px;
    height: 40px;
    border-radius: 15px;
    background-color:#4EC5F7;
    font-size: 1rem;
    padding: 5px;
    margin-left: 10px;
    text-transform: capitalize;
} 
   /*------img part -------*/
.section1img {
    padding-right: 90px;
}
.section1img  img{
    width: 100%;
    height: auto;}
       /*---------------section 1 end -----------*/

         /*---------------section 2  start -----------*/

        .section2 {
        width: 90%;
        margin: 0 auto;
         display: flex;
         margin-top: 50px;
        justify-content: space-between;
        align-items: center;
        }
        .section2img  {
            width: 60%;
        }
        .section2text {
           width: 40% ;
            text-align-last: right;
            margin-right: 30px;
        }
        .section1heading {
            font-size: 30px;
            text-transform: capitalize;
             color:rgba(249, 72, 178, 1);
        }
        .section2p {
            font-size: 15px;
            color: #484545;
           
        }

        .section2-h4 {
            font-size: 22px;
            margin-top: -10px;
            text-transform: capitalize;
        }
        .section2p2 {
            font-size: 20px;
        }
        .section2img img {
            width: 100%;
            height: auto;
        }

 /*---------------section 2  end -----------*/


 /*---------------section 3 start -----------*/

.section3 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.section3-h1 {
    font-size: 25px;
    text-transform: capitalize;
    align-items: center;
    text-align: center;

}
.section3-p {
    font-size: 18px;
    text-align: center;
    align-items: center;
    color: #484545;
}
.item {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 40px;
}
.item div {
    width: 180px;
    height: 300px;
     background-color: aliceblue;
    border:1px solid aliceblue;
    border-radius:5px ;
}
.item div:hover{
   background-color:aliceblue;
    border: 9px solid none;
}
.item div img {
    width: 180px;
    height: 210px;
}
.item div img:hover {
   
    border: 4px solid rgb(253, 5, 129);
    border-radius: 5px;
      background-color: rgba(249, 72, 178, 1); ;
}


 /*---------------section 3  end-----------*/

 
 /*---------------section 4---  start-----------*/

.section4{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    color: white;
   margin-bottom: 50px;
    background-color:rgb(242, 5, 143) ;
  
}
.textsection4, .imgsection4{
    width: 50%;
}
.textsection4 {
    margin-top: 70px;
    margin-left: 100px;
}
.headingsection4 {
    font-size: 40px;
    text-transform: capitalize;

}
.heading2 {
    font-size: 17px;
   text-transform: capitalize;
}
.skills{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.skill1,  .skill2 {
    width: 50%;
}
 .skill2 {
    font-size: 18px;
    text-align-last: right;
 }
 input {
    width: 170px;
    height: 40px;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 14px;
    color: rgb(242, 5, 143) ;
    ;
 }
/* section 4 imgsection4*/
.imgsection4 img{
    width: 100%;
    height: auto;
    margin-right: 30px;
}


    /*---------------section 4---  end-----------*/

    /*---------------section 5---------*/


.section5 {
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sectiontext5 ,.imgsextion5 {
    width: 50%;
}
.sectiontext5 h1 {
        font-size: 40px;
}
.sectiontext5 p{
    font-size: 15px;
}
.imgsextion5  img{
    width: 500px;
    height: auto;
}
.powerfull img {
    width: 200px;
    position: relative;
    bottom: 135px;
    right: 80px;
}
/*------*/

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #1c1818;
    
}
.logopart {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px;
}

 footer .footersto {
    width: 700px;
    display: flex;
    margin: 0 auto;
    
    justify-content: space-around;
   
}
footer .footersto  ul {
    width: 200px;
    display: flex;
}
footer .footersto  ul li{
    list-style: none;
    margin-left: 10px;
}
footer .footersto  ul .ul {
    margin-left: 10px;
    padding-left: 10px;
}
 footer .footerlogo {
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
footer .footerlogo  img {
    margin-left: 30px;
    margin-left: 40px;
}
.hide {
    display: none;
}


@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav  {
        width: 100%;
        height: auto;
        padding: 15px;
        flex-direction: column;
    }
    .logo {
        margin-left:30px ;
    }
    .menu {
        flex-direction: column;
    }
    .section1 {
        width: 100%;
        padding:15px ;
        flex-direction: column;
    }
    .section1text {
        width: 100%;
        margin-left: 10px;
    }
    .section1img {
        width: 100%;
        padding: 20px;
        padding-right: 0px;
    }
    .section2 {
        width: 100%;
        padding: 15px;
        flex-direction: column-reverse;
    }
    .section2text {
        width: 100%;
        text-align-last: left;

    }
    .section2img {
        width: 100%;
        padding: 10px;
    }
    .section3 {
        width: 100%;
    }
    .item {
        width: 100%;
        padding: 20px;
        flex-direction: column;


    }
    .item div {
        margin: 0 auto;
    }
    .section5 {
        width: 100%;
        height: auto;
        padding: 10px;
        flex-direction: column;
        margin-bottom: -200px;
    }
    .sectiontext5  {
        width: 100%;
    }
    .imgsextion5{
        width: 100%;
        padding: 20px;
    }
    .imgsextion5 img{
        width: 100%;
        height: 500px;
        padding: 40px;
    }
    .powerfull img {
        width: 70%;
        height: 100px;
        margin-bottom: 80px;
    }  
    .section4{
        width: 100%;
    
        height: auto;
        flex-direction: column;
    }
    .textsection4, 
    .imgsection4 {
        width: 100%;
    }
    .textsection4 {
        margin-left: 20px;
    }
    .skills {
        flex-direction: column;
    }
    .skill1,  .skill2{
        width: 100%;
    }
     .skill2{
        text-align-last: left;
     }
 }

  
/*--1 2 end--*/
















































